h1{text-align: center;font-family: 隶书;color: #dd0066;font-size: 50px;}
h2{line-height: 2em;font-family: 黑体;color: #2233cc;font-size: 26px;}
body{background-color: #ffefd5;}
p{text-indent: 2em;line-height: 1.6em;}
ul{list-style-image: url(../img/list1.png);font-family: 仿宋;color: blue;font-style: oblique;}